
button, button selection {
  background-image: none;
  text-shadow: 0 0;
  box-shadow: 0 0;
  border: 0;
  padding: 0px 10px;
}

.view button {
 /* background-color: @bg-color;*/
  border-color: @border-c;
  color: @fg-color;
  background-color: @button;
  padding: 4px 10px;
}


/* Handle both buttons drawn directly and drawn with an icon. */
button:disabled, button:disabled image {
  color: @disabled-button-color;
}

/* E.g. the currently active action of a dialog will slightly stand out so that
 * people know what action is activated when they will just hit Enter.
 */
button.default {
  /*border: 1px solid shade(@fg-color, 0.7);*/
  background: @selected-color;
  color: @selected-font-color;
}

/* This is the default active action, the somehow "suggested" action. Usually it
 * means this is either the expected next step action (e.g. activating a
 * filter), or else the less destructive action (e.g. when closing an unsaved
 * image, the default is "Cancel").
 */
button.suggested-action, button.opaque, button.raised {
  /*border: 1px dotted shade(@fg-color, 0.5);*/
  background-color: @selected-color;
  color: @selected-font-color;
}

button.destructive-action {
    background-color: #a00;
    color: @selected-font-color;
}

button:checked {
  background: @selected-color;
  color: @selected-font-color;
}


GimpToolDialog button {
  background-color: @button;
}

