
button, button selection {
  background-image: none;
  text-shadow: 0 0;
  box-shadow: none;
  border: 0;
  padding: 0px 10px;
  min-height: 16px;
}

button.flat.radio {
  padding: 5px 5px;
}

button.flat.radio:checked {
  background-color:  rgb(150,150,150);
}

button.flat.radio:checked image {
background-color:  rgb(150,150,150);
color: rgb(0,0,0);
}

.view button {
 /* background-color: @bg-color;*/
  border-color: @border-c;
  color: @fg-color;
  background-color: @button;
  padding: 4px 10px;
}


/* Handle both buttons drawn directly and drawn with an icon. */
button:disabled, button:disabled image {
  color: @disabled-button-color;
}

/* E.g. the currently active action of a dialog will slightly stand out so that
 * people know what action is activated when they will just hit Enter.
 */
button.default {
  /*border: 1px solid shade(@fg-color, 0.7);*/
  background: @selected-color;
  color: @selected-font-color;
}

/* This is the default active action, the somehow "suggested" action. Usually it
 * means this is either the expected next step action (e.g. activating a
 * filter), or else the less destructive action (e.g. when closing an unsaved
 * image, the default is "Cancel").
 */
button.suggested-action, button.opaque, button.raised {
  /*border: 1px dotted shade(@fg-color, 0.5);*/
  background-color: @selected-color;
  color: @selected-font-color;
}

button.destructive-action {
    background-color: #a00;
    color: @selected-font-color;
}

button:checked {
  background: @selected-color;
  color: @selected-font-color;
}

button.flat.toggle:checked {
  background: @bg-color;
}

GimpToolDialog button {
  background-color: @button;
}

button image {
  color: @icon;
}

button.flat.toggle image {
  color: @img-button;
}

dialog button.flat.radio image {
  min-width:30px;
min-height:30px;
}

button.flat.toggle:checked image{
  background: @bg-color;
  color: @img-button-check;
}

/************* Tool Box  ***********************/
GimpDock#gimp-internal-dock-1 > box > box {
background-color:@paned-separator;
}
toolbutton  {
color:@icon;
}
toolbutton button.flat.image-button.toggle  {
  background-color:@paned-separator;
  color:@toolbutton-color;
}
toolbutton button.flat.image-button.toggle image {
  color:@toolbutton-color;
}

toolbutton button.flat {
  background-color: @bg-color;
  color: @icon;
  border-radius: 0;
  padding: 5px 10px;
}


GimpDock .flat.image-button.toggle {
border-radius: 0 3px 3px 0;
border-color: @paned-separator;
border-width:0px;
border-style:solid;
}

/*
#gimp-internal-dock-1 toolbutton button.flat:checked {
}
*/
GimpDock .flat.image-button.toggle:checked image {
color: @toolbutton-checkimg;
background-color:@toolbutton-checkbg;
}
GimpDock .flat.image-button.toggle:checked {
background-color:@toolbutton-checkbg;
}


/* Color the toolbox Wilber icon */
GimpDock frame:first-child:not(label) {
  color: @dimmed-fg-color;
}
/* Fix an issue with a few labels in the toolbox
 * having their colors overwritten with Wilber's
 */
GimpDock frame:first-child label {
  color: @fg-color;
}
