/* Color history buttons in the color chooser.
 * The selector GimpColorHistory button gets the color buttons
 * but not the + button; GimpColorSelection gets both.
 */

GimpColorSelection button {
  background: @bg-color;
  border: 0;
  color: @icon;
}
GimpColorSelection spinbutton {
  border: 0px solid @bg-color;
  background: @bg-color;
}
GimpColorSelection entry {
  /*background: @bg-color;*/
  /*border-radius: 5px;*/
  border: 2px solid @bg-color;
  padding: 0px 7px;
}

GimpColorSelection entry:focus  {
  border: 2px solid @selected-color;
}

button.radio.text-button {
  background-color:@button;
}
button.radio.text-button:checked {
  background: @selected-color;
  color: @selected-font-color;
}
GimpColorSelection menu {
  padding: 10px 0;
  border-radius:0px;
}

GimpColorSelection menuitem {
  color: @menu-fg;
  background-color: @menu-bg;
  padding: 4px 12px;
}


GimpColorSelection menuitem:hover {
  color: @selected-font-color;
  background-color: @selected-color;
  padding: 4px 12px;
}
 GimpColorHistory button {
    padding: 1px;
    min-width: 50px;
    border: 0;
}

