/* Top menu items  */

menubar > menuitem {
  padding: 7px 7px 7px 7px;
}

/* The top menu item itself: File, Edit ... */
menuitem menuitem {
  color: @menu-fg;
  background: @menu-bg;
  padding: 3px 12px;
}
menuitem check {
  background: @check-off;
  margin-right: 10px;
}
menuitem radio {
  margin-right: 8px;
}

menuitem check:hover {
  background: @bg-color;
}
menuitem check:checked {
  background-color: @extreme-selected-bg;
  color: @extreme-selected-fg;
}
/* A top (File, Edit) menubar item when its menu is expanded. */
menubar > menuitem:hover {
  color: @selected-font-color;
  background: @extreme-selected-bg;
}

menuitem *:hover {
  color: @selected-font-color;
  background: @extreme-selected-bg;
}

/* "Add Tab" menu in dockable dialog */
menu {
  background-color: @menu-bg;
  color: @menu-fg;
  border: 1px solid @menu-bg;
}

/* Fixes issue with top menu label not changing
 * colors when highlighted
 */
menu box {
  color: @menu-fg;
  background-color: transparent;
}

menu .horizontal {
  color: @menu-fg;
}

menu {
color: @menu-fg;
border-radius:8px;
border:1px solid rgb(180,180,180);
background-color: @menu-bg;
padding: 8px 0;

}

menu menuitem {
color: @menu-fg;
padding: 3px 8px;
}
menu menuitem:hover {
color: @selected-font-color;
padding: 3px 8px;
}

menubar > menuitem > window > menu {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding-top: 8px;
}
menuitem arrow {
  color: @icon;
}
menuitem:hover > arrow {
  color: @selected-font-color;
}


.csd.popup {
  color: rgb(100,00,255);
  background-color: rgb(100,100,0);
}
