
statusbar {
background-color: @statusbar;
color:@statusbar-font;
min-height: 16px;
caret-color: @scaret;
}

statusbar .combo {
padding:0 7px;
background-color: @scombo;
border-radius:0px;
border-width: 0;
border-color: @scombo;
border-style: solid;
color:@scombo-font;
}
statusbar .combo:checked {
background-color: @scombo;
border-color: @scombo;
color:@scombo-font;
}

entry.combo {
padding:0 7px;
min-width: 50px;
}

statusbar  combobox {
  margin:0 24px;
}

statusbar .combo box {
background-color: @scombo;
color:@scombo-font;
border-radius:0px;
}
statusbar combobox box.linked {
border-radius:0px;
border-width:0px;
}

statusbar label {
  padding: 0 7px;
  color:@statusbar-font;
}

statusbar label:first-child {
min-width: 180px;
}

statusbar .flat.toggle image {
margin-right: 14px;
color: @statusbar-font;
}

